#ajax-container{
    width:100%;
    height: 7rem;
    background-color: #ffffff;
    padding:3rem;
    transition: height .38s ease-in-out;
}

[data-type="page"]{
    transition: opacity 0.3s linear;
}