html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: 100%;
}

body {
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
    max-width: none !important;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: inline-block;
    vertical-align: middle;
}

textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    overflow: hidden;
}

.container.full {
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row.collapse > .column,
.row.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
}

.row.collapse .row {
    margin-left: 0;
    margin-right: 0;
}

.row .row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
}

.row .row:before,
.row .row:after {
    content: " ";
    display: table;
}

.row .row:after {
    clear: both;
}

.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none;
}

.row .row.collapse:before,
.row .row.collapse:after {
    content: " ";
    display: table;
}

.row .row.collapse:after {
    clear: both;
}

.row.full {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.row.white {
    background-color: #ffffff;
}

.column,
.columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
}

.separator {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    background-color: #ededed;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hide {
    display: none;
}

.invisible {
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}