#beneficii {
    text-align: center;
    div {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .text {
        background-color: #ffffff;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    h3 {
        font-family: 'Arvo', serif;
        color: $primary-color;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: italic;
        text-align: center;
    }
    p {
        font-family: 'HelveticaNeueLtProCn', 'Oswald', sans-serif;
        font-size: 0.9rem;
        line-height: 1rem;
        color: $gray-tint;
        text-align: center;
    }
}